body{
	font-family: sans-serif;
	margin: 0;
}
.balckfooter{
	
	background-color:hwb(203 18% 50%);
	display: flex;
	justify-content: center;
	align-items: center;


}

 

a{
	text-decoration: none;
	color: black;
}

input{
	padding: 11px 10px;
	border-radius: 10px;
}

nav a{
	padding-right: 10px;
}

header{
	background-color: #80D8E9;
	display: flex;
	height: auto;
	
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	
}
.mujeres{
	background-color:darksalmon;
	color:dimgray ;
}
.ok{background-color: hwb(203 18% 50%);}
Footer{
	background-color: #80D8E9;
	display: flex;
	
	padding: 20px;
}

.promo{ background: linear-gradient(90deg, rgb(20%, 40%, 60%), rgb(60%, 20%, 40%));
color: white;}
.pago{ background: linear-gradient(90deg, #021c2e, #7b8603);}
.cabezal{
	display: flex;
	align-items: center;
}

.cabezal img{
	height: 90px;
	margin-right: 20px;
}

.MenB{
	margin-left: 30px;
}

.TextP{
	justify-content: space-between;
	text-align:center;
}

.MenAuto{
	text-align:center;
}

.Ima{
	padding: 10px;
	width: 250px;
	height: 250px;
	margin-right: 20px;
}

.banner{
	width: 700px;
	height: 320px;
	border: 1px solid ;
	margin: auto;
	
	background-size: 100% 100%;
	
	animation: banner 10s infinite;
		
}

@keyframes banner {
	
	0%, 30% {
		background-image: url(mujeres.jpg);
		opacity: 1;
	}
	
	31%, 34%{
		opacity: 0.1;
	}
	
	35%, 65% {
		background-image: url(Hombres.jpg);
		opacity: 1;
	}
	
	66%, 69%{
		opacity: 0.1;
	}
	
	70%, 100% {
		background-image: url(ninos.jpg);
		opacity: 1;
	}
	
	
}

.Login {
	width: 400px;
	height: 340;
	background-color: #c2e4eb;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	box-shadow: 7px 13px 37px #000;
	padding: 20px 30px;
}

.Login h4 {
	margin: 0;
	text-align: center;
	height: 40px;
	margin-bottom: 30px;
	border-bottom: 1px solid;
	font-size: 20px;
}

.controls{
	width: 80%;
	border: 1px solid #1d6674;
	margin-bottom: 15;
	padding: 11px 10px;
	background: #c2e4eb;
	font-size: 14px;
	font-weight: bold;
}

.button{
	width: 100%;
	height: 40%;
	background: #093f49;
	border: none;
	color: rgb(255, 255, 255);
	margin-bottom: 16px;
}

.Login p{
	height: 40px;
	text-align: center;
}


.Productos{
	width: 400px;
	height: 340;
	background-color: #c2e4eb;
	margin: auto;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	padding: 20px 30px;
	
}

.Productos h4{
	margin: 0;
	text-align: center;
	height: 40px;
	margin-left: auto;
	margin-bottom: 30px;
	border-bottom: 1px solid;
	font-size: 20px;
}

.Filtrado{
	width: 300px;
	height: 340;
	background-color: #c2e4eb;
	margin: auto;
	margin-left: 10px;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px 30px;
	float: left;
}